<section class="section-variant"> 
    <div class="container pt-5">
        <div class="h2 pb-2">Currency Converter</div>
        <div class="row mt-2 d-flex justify-content-center bg-white p-5 rounded-5 border border-warning">
            <div class="col-12 col-lg-5">
                <div class="ms-4">Amount</div>
                <app-currency-input
                    [exampleRateWithFlag]="secondExampleRateWithFlag"
                    [ratesWithFlag]="ratesWithFlag"
                    (exchangeRateChange)="updateExchangeRate1($event)"
                    [inputValue]="fromValue"
                    (valueChanged)="fromValueChanged($event)"
                ></app-currency-input>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center my-4"><fa-icon [icon]="arrowIcon" class="fa-icon-2xl"></fa-icon></div>
            <div class="col-12 col-lg-5">
                <div class="ms-4">Converted to</div>
                <app-currency-input
                    [exampleRateWithFlag]="exampleRateWithFlag"
                    [ratesWithFlag]="ratesWithFlag"
                    [inputValue]="inputValue2"
                    (exchangeRateChange)="updateExchangeRate2($event)"
                    [inputValue]="toValue"
                    (valueChanged)="toValueChanged($event)"
                ></app-currency-input>
            </div>
        </div>
    </div>
</section>

