<div class="my-3 p-4 bg-white d-flex rounded-pill border border-secondary position-relative">
    <input type="number" class="form-control me-2 h-150 rounded-5" (input)="onValueChanged()" [(ngModel)]="inputValue">
    <div class="d-flex m-3">
        <div (click)="selectCurrency()">
            <div class="d-flex ps-3 border-start border-secondary" *ngIf="exampleExchangeRate">
                <img
                *ngIf="exampleRateWithFlag && exampleRateWithFlag.flagUrl"
                [src]="exampleRateWithFlag.flagUrl"
                onerror="this.onerror=null;this.src='assets/flag_placeholder.webp';"
                i18n-alt
                alt="Country flag"
                />
                <div *ngIf="exampleRateWithFlag" class="fw-bold ms-3">{{ exampleRateWithFlag.rate.code }}</div>
            </div>
            <div *ngIf="!exampleExchangeRate" class="d-flex ps-3 border-start border-secondary">
                <img
                [src]="flagUrl"
                onerror="this.onerror=null;this.src='assets/flag_placeholder.webp';"
                i18n-alt
                alt="Country flag"
                />
                <div class="fw-bold ms-3">{{ exchangeRateCode }}</div>
            </div>
        </div>
    </div>
    <div *ngIf="isClicked" class="dropdown">
        <div class="d-flex m-3 pb-3 border-bottom" *ngFor="let rate of ratesWithFlag">
            <div class="d-flex" (click)="clickedCurrency(rate.rate.code)">
                <img
                [src]="rate.flagUrl"
                onerror="this.onerror=null;this.src='assets/flag_placeholder.webp';"
                i18n-alt
                alt="Country flag"
                />
                <div class="mx-4 fw-bold">{{ rate.rate.code }}</div> 
            </div>
        </div>
    </div>
</div>
